.help-box {
  padding: 1rem;
  border-radius: 4px;
  margin: 1;
  flex: 1;
}

.help-box h2 {
<<<<<<< HEAD
  color: #0da3a3;
=======
  color: #0f7474;
>>>>>>> 895401835fc500516cfb0b3b655120b7c954e04e
  font-size: 1.05rem;
}